// sass css/scss/index.scss css/index.css
@import "constants";
@import "header";
@import "button";
@import "mainPage";
@import "servicePage";
@import "aboutPage";
@import "modal";
@import "footer";

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $text-gray;
}

h1 {
  font-size: 1.8rem;
  @media (min-width: 1200px) {
    font-size: 2rem;
  }
}

.mt-6 {
  margin-top: 4rem;
}
