/* @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}
.header {
  height: 70px;
  background-color: rgb(255, 255, 255);
  color: #474747;
  font-size: 18px;
}

h1 {
  width: 471px;
  text-align:left;
  font-weight:bold;
  font-size: 48px;
  line-height: 45px;
  margin: 0;
  padding-top: 136px;
}

h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 50px;
  padding-top: 70px;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}


.relative {
  position: relative;
}

.logo{
  color: #21DA8C;
  font-size: 45px;
  font-weight: 500;
  vertical-align: middle;
  
}
.navico{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerimg {
  height: 20px;
  width: auto;
  margin-right: 10px;
  margin-left: 20px;
  vertical-align: middle;
}

.box1{
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}

.navigat-txt{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.navigat-txt li a{
    text-decoration: none;
    color: #4B4B4B;
}
.navigat-txt li a.active{
    color: #21DA8C;
}

.txt-menu{
  color: #4B4B4B;
}

.nav{
  font-size: 18px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  width: 310px;
  justify-content: space-between;
  align-items: right;
}


.container {
  width: 1110px;
  margin: 0 auto;
}

.site-offer{
  display: block;
  min-width: 1110px;
  height: 526px;
  background: center no-repeat url("../img/MainBG.png");
  background-position: center;
  background-size: auto;
  color: #474747;
}

.site-offer p {
  width: 506px;
  text-align: left;
  font-size: 16px;
  line-height: 24px; 
  font-weight:500;
  padding-top: 5px;
}

.button1{
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #21DA8C;
  width: 222px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  box-shadow: 0 0 10px #21DA8C;
  cursor: pointer;
   }

 .button1 a{
     text-decoration: none;
     color: #ffffff;
   }
  
.button2{
  font-family: "Montserrat", sans-serif;
  color: #21DA8C;
  background-color: Transparent;
  width: 222px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: 3px  solid #21DA8C;
  cursor: pointer;
   }

   .button2 a{
     text-decoration: none;
     color: #21DA8C;
   }
  
   
 .wrapper {
	  margin-top: 75px;
    margin-bottom: 82px;
    }

.between{
  margin-left: 34px;
}

.information {
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.address {
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information p {
  width: 472px;
    margin: 0; 
    padding:49px 27px;
    border: 0px; 
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 10px 0 #8a8a8a;
    align-items: right;
}

.address p {
  width: 242px;
  margin: 0; 
  font-size:18px;
  font-weight: normal;
  align-items: left;
  padding:10px 0;
}

.order{
 margin-top: 80px;
}

.conect{
  padding-right: 70px;
  margin-top: 40px;
}

.conect a{
  text-decoration: none;
  color: #474747;
 }
.conect button a{
  text-decoration: none;
  color: #ffffff;
 }

.benefits{
  margin-top: 36px;
  height: 478px;
  background: center no-repeat url("../img/fon2.png");
}

.skills {
	display: flex;
	justify-content: space-between;
  flex-flow: row wrap;
  
}
.skills img{
  padding-bottom: 20px;
}

.skill-text p{
  margin: 0;
  width: 355px;
  font-weight: 600;
  padding-top: 10px;
	font-size: 18px;
	text-align: center;
}

.site-footer {
  margin-top: 110px;
  padding-top: 25px;
  height: 141px;
  background-color: #E5E5E5;
  color: #494949;
}
.social{
  padding-left: 18px;
  cursor: pointer;
}
.links {
  display: flex;
	justify-content: space-between;
  vertical-align: middle;

}


.site-footer p {
  width: 620px;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  padding: 0 20px;
}

.enter{
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  width: 530px;
  height: 50px;
  font-size: 20px;
  font-weight: normal;
  border: 3px  solid #21DA8C;
  border-radius: 10px;
  padding-left: 15px;
  margin-top: 20px;
}

.comm{
  height: 80px;
  padding-top:15px;
  
}

::-webkit-input-placeholder { 
  color:    #21DA8C;
}

.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0,0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup:target{
  opacity: 1;
  visibility:visible;
}

.popup:target .popup_content{
  transform: perspective(600px) translate(0px,0px) rotate(0deg);
  opacity: 1;
}

.popup_body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease 0s;
  }

.form{
  width: 700px;
  padding-left: 200px;
  margin-top: 30px;
}

  .popup_content{
    position: relative;
    background-color: rgb(255, 255, 255);
    color: #4B4B4B;
    width: 1050;
    padding: 70px 90px;
    transform: perspective(600px) translate(0px,-100%) rotate(45deg);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .popup_txt{
    width: 930px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    padding-top: 25px;
  }

 .popup_title{
   font-size: 40px;
   width: 930px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
 }
 
 .send{
   margin-top: 30px;
   margin-bottom: 20px;
   
 }

 .popup-close{
   position:absolute;
   top: 20px;
   right: 20px;
   font-size: 20px;
   text-decoration: none;
   color: #474747 ;
 }



 .site-offer-service{
  display: block;
  min-width: 1110px;
  height: 458px;
  background: center no-repeat url("../img/serviceBG.png");
  background-position: center;
  background-size: auto;
  color: #474747;
}

 .h1service {
  font-size: 30px;
  padding-top: 100px;
  line-height: 30px;
  }

   .service{
    padding-bottom: 30px;
   }

  .pservice{
    font-size: 16px;
    font-weight: normal;
    width: 470px;
  }

  .service-point {
    width: 1070px;
      margin-top: 20px; 
      padding: 10px 20px 20px 20px;
      border: 0px; 
      background: rgb(255, 255, 255);
      box-shadow: 0 4px 3px 0 #a5a5a5;
  }
  .service-point.first-point{
    margin-top: 0px;
  }
  .point p{
    color: #247955;
    font-size: 24px;
    font-weight: 600;
    padding-top: 0;
    padding-left: 20px;   
    margin-bottom: 15px; 
  }
  
  .point {
  display: flex;
  vertical-align: middle;
    }

  .ppoint{
    padding-left: 50px;
    width: 1015px;
    margin: 0;
    }

    .guarantees{
      margin-top: 40px;
      height: 530px;
      background: center no-repeat url("../img/fon3.png");
    }

    .check-marks {
      width: 540px;
        margin: 0; 
        padding: 30px 45px 10px;
        border: 0px; 
        background: rgb(255, 255, 255);
        box-shadow: 0 4px 10px 0 #8a8a8a;
        align-items: right;
    
      }
    .check-marks p {
      width: 500px;
      padding-left: 15px;
      margin: 0;
     }

     .check-mark{
      display: flex;
      vertical-align: middle;
      padding-bottom: 20px;
     }

     .guarantees h2{
      padding-bottom: 50px;
      padding-top: 50px;
     }

      
      .form_content{
        position: relative;
        background-color: rgb(255, 255, 255);
        color: #4B4B4B;
        width: 1050;
        padding: 70px 90px;
      }
    
      .form_txt{
        width: 930px;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        padding-top: 25px;
      }
    
     .form_title{
       font-size: 40px;
       width: 930px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
     }

     .feedback{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 70px;
     }

     .feedback-form{
      padding-left: 180px;
      width: 700px;
      margin-top: 50px;
     }

     .feedback-content{
       padding-bottom: 0px;
     }

     .site-offer-about{
      display: block;
      min-width: 1110px;
      height: 347px;
      background: center no-repeat url("../img/aboutBG.png");
      background-position: center;
      background-size: auto;
      color: #474747;
    }

    .h1about {
      width: 1100px;
      font-size: 30px;
      padding-top: 70px;
      line-height: 30px;
      font-weight: 600;
      }

      .name{
        color: #247955;
        font-size: 20px;
        font-weight: 600;
        width: 350px;
        margin-top: 0px;
      }
     
      .description{
        margin-left: 30px;
        width: 354px;
      }
      .client {
        width: 490px;
          margin: 0; 
          padding:22px 24px;
          border: 0px; 
          background: rgb(255, 255, 255);
          box-shadow: 0 4px 3px 0 #acacac;
          align-items: center;
          display: flex;
          justify-content: center;
          margin-bottom: 30px;
      }

      .clients{
                margin-bottom: 30px;
          display: flex;
    justify-content: space-between;
  flex-flow: row wrap;
      }

      .gallery{
        margin-top: 60px;
        height: 600px;
        background: center no-repeat url("../img/fon4.png");
      }

      
  .pic:not(:target) {
    display: none;
  }
  
  .pic:target {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.9);
  }
  .full-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .close-area {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
  }

  .img{
    padding-right: 25px;
  }

  .imges{
    display: flex;
    justify-content: space-between;
  flex-flow: row wrap;
  }
  .imges img{
    padding-bottom: 30px;
    width: 345px;
  }
  .gallery h2{
    padding-top: 40px;
  }

  .information p{
    margin-left: 20px;
  }
  .licenses p{
    text-decoration: underline; 
    font-size: 16px;
    font-weight: 700;
    color:#247955;
    padding-top: 30px;

  }
  .licenses{
    vertical-align: middle;
  }

  .sertificate{
    display: flex;
    justify-content: space-between;
  }
  hr{
    width: 100%;
    display: flex;
  }

  Responsive*/

/*  992px - 1200
@media screen and (max-width: 1200px) {
  .box1{
    margin: auto;
      width: 975px;
  }
  .nav{
   width: 975px;
   margin-left: auto;
    margin-right: auto 
  }
  .container{
    width: 975px;
   align-items: center;
  }
  hr{
    width: 100%;
  }
  img{
    width: 300px;
  }
  img.social{
    width: 30px;
    height: 30px;
  }
  .skill-text p{
    width: 270px;
    margin: auto;
    
  }
  .site-offer{
    width: 100%;
    min-width: 990px;
  }
  .popup_content{
    width: 850px;
  }
  .popup_title{
    width: auto;
  }
  .popup_txt{
    width: auto;
  }
  .form {
    width: 643px;
    padding-left: 110px;
  }
  .popup_content{
    padding: 70px 45px;
  }
  .information img{
    width: 400px;
  }
  .h1about{
    width: 990px;
  }
  .site-offer-about{
    width: 100%;
    min-width: 975px;
  }
  .client{
    width: 380px;
  }
  .client img{
    width: 200pxpx;
  }
  .name{
width:270PX;
  }
  .about-img{
    width: 80px;
  }
  .imges img{
    padding-bottom: 30px;
    width: 345px;
  }
  .gallery{
    height: 820px;
    background: center no-repeat url("../img/fon4.1.png");
    }
    .point img{
      width: 35px;
    }
    .ppoint{
      width: 780px;
    }
    .service-point{
      width: 830px;
    }
    .check-mark img{
      width: 26px;
    }
    .site-offer-service{
      background: center no-repeat url(../img/serviceBG2.png);
      min-width: 975px;
    }
    .service-points{
      display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .service-point{
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 169px;
    }
    .form_content{
      padding: 0;
    }
    
    .feedback{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .form_title{
      text-align: center;
    }
    .feedback{
      width: 975px;
  }
  
}


768px - 992px
@media screen and (max-width: 992px) {

  .box1{
    margin: auto;
    width: 760px;
    
  }
  .information img{
    width: 300px;
  }
  .information p {
    width: 360px;
  }
  .site-offer p {
    font-size: 14px;
    line-height: 18px;
} 
h2{
      font-size: 30px;
    }

  .navigat-txt{
    justify-content:space-between;
  }
  .navico{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

   .logo{
      text-align: left;
  }
  .nav{
   width: 760px;
   margin-left: auto;
   margin-right: auto 
  }
  .container{
    width: 760px;
    align-items: center;
  }
  .site-offer{
    width: 100%;
    min-width: 760px;
  }
  
  .site-offer{
    background: center no-repeat url("../img/mainbgadapt1.png");
  }
  img{
    width: 320px;
    
  }
  .benefits{
    background: center no-repeat url("../img/fon4.1.png");
    height: 840px;
  }
  .skill-text p {
    font-size: 20px;
    padding-bottom: 30px;
  }
  .skills img {
    padding-bottom: 30px;
  }
  .box1 a {
    display: none;
  }
   .skill-img{
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .address {
    margin: 0 auto;
    padding: 0 0;
    display:block;
    align-items: center;
  }
  .order{
    margin-top: 40px;
  }
  .conect a{
    font-size: 18px;
  }
  .address p{
    font-size: 18px;
  }
  img.social{
    padding-top: 10px;
  }
  .links {
    display: flex;
    justify-content:baseline;
    vertical-align: middle;
  
  }
  .site-footer {
    height: 160px;
}
.popup_title{
  line-height: 1.8rem;
}
.popup_content{
  width: 600px;
}
.enter{
  width: 370px;
  height: 35px;
}
.form{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.popup_title {
line-height: 2.5rem;
}
.h1about{
  width: 772px;
}
.client{
  height: 134px;
  width: 320px;
}
.about-img{
  width: 60px;
}
.description{
  margin-left: 15px;
}
.gallery{
  height: 820px;
  background: center no-repeat url("../img/fon4.1.png");
  }
  .site-offer-service{
    background: center no-repeat url(../img/serviceBG2.png);
  }
  .ppoint{
    width: 600px;
  }
  .service-point{
    width: 660px;
  }
  .check-marks{
    width: 400px;
  }
  .guarantees{
    height: 580px;
  }
.form_title{
  width: 760px;
  font-size: 30px;
}
.site-offer-service{
  min-width: 760px;
}
.form_txt{
  width: 760px;
}
.feedback-form{
  display: block;
  margin-left: auto;
  padding-left: 0px;
  width: 580px;
  }

.form_content{
  width: 760px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.feedback{
  width: 760px;
}
.h1service{
  width: 440px;
}

}


375 - 576 px
@media screen and (max-width: 770px) {
  .box1{
    margin: auto;
      width: 375px;
  }
  .nav{
   width: 375px;
   margin-left: auto;
    margin-right: auto 
  }
  .container{
    width: 375px;
   align-items: center;
  }
  .navigat-txt li a{
    font-size: 20px;
  }
                .esso{
                  display: none;
                }
  h1{
    padding-top: 100px;
    font-size: 42px;
    width: 375px;
  }
  .between{
    margin-left: 0px;
    margin-top: 30px;
  }
  .button1{
    width: 340px;
  }
  .button2{
    width: 340px;
   }
  .wrapper.button1{
    display: block;
    margin-left: auto;
    margin-right: auto }
  
  .wrapper{
    margin-top: 70px;
    margin-bottom: 60px;
  }
  .site-offer{
    min-width: 375px;
  }
  .site-offer p{
    width: 375px;
  }
  .information{
    display: block;
  }
  .information img{
    padding-bottom: 50px;
    width: 375px;
  }
  .information p{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  padding-top: 35px; 
  padding-bottom: 35px; }

  .skills img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  .skills{
    display: block;
  }
  .benefits{
    height: 1050px;
  }
  .skills img{
    width: 280px;
  }
    .skill-text p{
    font-size: 18px;
  }
.map{
 width: 375px;
 height: 280px;
}
.site-offer p{
  width: 280px;
}
.site-footer{
  height: 200px;
}
.popup_title{
  font-size: 25px;
  line-height: normal;
}
.popup_txt{
  font-size: 14px;
}
.form{
  padding-left: 0px;
  width: 320px;
}
.h1about{
  width: 375px;
  font-size: 24px;
}
.site-offer-about{
  min-width: 375px;
  height: 440px;
  background: center no-repeat url(../img/mainbgadapt1.png);
}
.client{
  padding-top: 0px;
  padding-bottom: 0px;
}
.name{
  font-size: 16px;
}
.imges img{
  padding-right: 0px;
}
.imges{
   display: block;
    margin-left: auto;
    margin-right: auto;
}

.imges img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery{
height: 1520px;
background: center no-repeat url("../img/fon4.2.png");
}
.sertificate{
  display: block;
}
.information{
  margin-top: 40px;
}
.licenses p{
  padding-top: 0px;
}
.site-footer p{
  width: 350px;
  padding-right: 0px;
}
.imges img{
  width: 360px;
}
.service-point{
  width: auto;
  height: auto;
}
.ppoint{
  width: 280px;
font-size: 12px;
}
.point p{
  font-size: 16px;
}

.site-offer-service{
  background: center no-repeat url(../img/serviceBG3.png);
}
.check-marks{
  width: 300px;
  padding: 20px 30px 10px;
  margin-left: 7px;
}
.guarantees{
  height: 690px;
  background: center no-repeat url(../img/fon3_2.png);
}
.form_title{
line-height: 1.2
}
.form_title{
  width: 375px;
}
.form_txt{
  width: 375px;
}
.feedback-form{
  width: 300px;
  margin-left: 0px;
  margin-top: 30px;
}
.enter{
  width: 320px;
  height: 35px;
  font-size: 14px;
}
.form_content{
  width: 375px;
}
.form_txt{
  font-size: 14px;
}
form{
  width: auto;
}
.site-offer-service{
  min-width: 375px;
  max-width: 770px;
}
.guarantees h2{
  line-height: 1.8rem;
}
.feedback{
  width: 375px;
}
.pservice{
  width: 375px;
}
.h1service{
  width: auto;
  padding-top: 70px;
}
} */